<div style="background-color: lightgray; top: 10px;"><h1 style="text-align: center;">CONTACT PAGE</h1>
<img src="..\..\..\assets\ecommerce7.webp" alt="ppic" width="100%" height="250px">
    <div class="container">  
   <form id="contact" action="" method="post">
     <h3>Contact us</h3>
     <fieldset>
       <input placeholder="Your name" type="text" tabindex="1" required autofocus>
     </fieldset>
     <fieldset>
       <input placeholder="Your Email Address" type="email" tabindex="2" required>
     </fieldset>
     <fieldset>
       <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
     </fieldset>
     <fieldset>
       <input placeholder="Your Web Site" type="url" tabindex="4" required>
     </fieldset>
     <fieldset>
       <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
     </fieldset>
     <fieldset>
       <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
     </fieldset>
     <p class="copyright">Designed by <a href="" target="_blank" title="Colorlib">Colorlib</a></p>
   </form>
 </div>
</div>